<%- include('header') -%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dashboard</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= locals.user?user:"User"%></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <a href="/route/logout">Logout</a>
        </form>
      </div>
    </div>
  </nav>

<%- include('footer') -%>